body {
    background-color: grey;
    text-align: center;
    width: 1000px;
    margin: auto;            
}

div {
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.header {

}

.nav {

}

.section {
    float: left;
    width: 50%;
    margin-right: 2.5px;

}

.article {
    background-color: grey;
    color: white;

}

.h1h2h3 {
    position: relative;
}

.p {
    position: relative;
}

.aside {
    float: right;
    width: 40%;
    margin-left: 2.5px;
    clear: right;
}

.footer {
    clear: both;
}
